@model _2001207118_NguyenNgocThien.Models.SanPham
@{ ViewBag.Title = "Insert";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayoutPage1.cshtml"; }

<form action="/admin/admin/insert" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-6">
            <label for="ThuongHieuID">Thương hiệu</label>
            <select class="form-control" name="ThuongHieuID" id="ThuongHieuID">
                <option value="">Please Select...</option>
                @foreach (var item in ViewBag.th)
                {
    <option value="@item.ID">@item.NSX</option>}
            </select>
        </div>
        <div class="col-md-6">
            <label for="TenSP">
                Tên sản phẩm
            </label>
            <input class="form-control" type="text" name="TenSP" id="TenSP" value="" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label for="SoLuong">
                Số Lượng
            </label>
            <input class="form-control" type="number" name="SoLuong" id="SoLuong" value="" />
        </div>
        <div class="col-md-6">
            <label for="GiaTien">
                Giá tiền
            </label>
            <input class="form-control" type="number" name="GiaTien" id="GiaTien" value="" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label for="GiaGiam">
                Giá Giảm
            </label>
            <input class="form-control" type="number" name="GiaGiam" id="GiaGiam" value="" />
        </div>
        <div class="col-md-6">
            <!--<label for="NhaSanXuat">
                Nhà sản xuất
            </label>-->
            @*<input class="form-control" type="text" name="NhaSanXuat" id="NhaSanXuat" value="" />*@
            <!--<select class="form-control" name="NhaSanXuat" id="NhaSanXuat">
                            <option value="">Please Select...</option>
                            @foreach (var item in ViewBag.th)
                            {
                <option value="@item.NSX.Trim()">@item.NSX</option>
            }
                        </select>-->
            <label for="IDTheLoai">Thể loại</label>
            @*<input class="form-control" type="number" name="IDTheLoai" id="IDTheLoai" value="" />*@
            <select class="form-control" name="IDTheLoai" id="IDTheLoai">
                <option value="">Please Select...</option>
                @foreach (var item in ViewBag.tl)
                {
    <option value="@item.ID">@item.LoaiSP</option>
}
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label for="HinhAnh">Hình</label>
            <input class="form-control" type="file" name="HinhAnh" id="HinhAnh" value="" />
        </div>
    </div>
    <div class="mt-3 mb-3">
        <button type="submit" class="btn btn-primary mt-4">Save</button>
        <a href="/admin/admin/quanly" class="btn btn-danger mt-4">Cancel</a>
    </div>
</form>

